html, body{
    font-family: "Segoe UI",Arial,sans-serif;
    overflow-x: hidden;
}

.container-fluid{
    width: 100%;
    padding: 0;
}

#main{
    min-height:100%;
    height:100%;
    margin: 0 auto;
    /*max-width: 1010px;*/
}

.navbar , .nav{
    margin-bottom: 0px;
    border: none;
    background-color: #5681a2;
    min-height:44px;
    min-width:100%;
    position: fixed;
}

#topMenu{
    height:44px;
    color: white;
    align-content:center;
    padding-right: 0;
}

#telegramLogo{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: 10px;
}

#telegram{
    display: inline;
    margin-left: 15px;
    font-size: 20px;
    position: relative;
    top: 7px;
}

.glyphicon{
    color: white;
    font-size: 20px;
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 12px;
}

.menuWrapper{
    min-height: 100%;
    width: 63px;
    float: right;
}

.menuIcon{
    /*background-color: #fefeff;*/
    padding: 0px;
    width: 21px;
    height: 21px;
    border-radius: 1px;
    /*position: absolute;*/
    margin-left: 21px;
    margin-right: 21px;
}

.menuLine{
    background-color: #fefeff;
    width: 21px;
    height: 2px;
    border-radius: 1px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    /*float: right;*/
}

#searchBar{
    border: solid 1px #dbdbdb;
    background: url("img/IconsetW_2x.png") no-repeat;
    background-size: 15px 15px;
    background-position-x: 5px;
    background-position-y: 50%;
    min-width: 100%;
    padding: 5px 20px 5px 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    border-radius: 3px;
    /*display: none;*/
    z-index: -1;

}

#cross{
    /*display: none;*/
    position: relative;
    z-index: 1000;
    float: right;
    left: -10px;
    margin-top: -26px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    background: url("img/cross.png") no-repeat;
    background-size: 13px 13px;
}

.wrapperSearch{
    /*position: absolute;*/
    display: none;
}

#menu{
    float: right;
    position: absolute;
    border-radius: 0px;
    outline: solid 1px #f2f2f2;
    left: 70%;
    top: 0%;
    padding: 0px;
    z-index: 3;
    font-size: 14px;
    min-width: 215px;
}

#menu li{
    padding: 15px;
}

.dropdown-menu li:hover{
    background: #f2f2f2;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}
#chatLists li:hover{
    background-color: #f2f2f2;
}

#listView{
    position: absolute;
    top: 44px;
}

.profPic{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.chatName , .chatSum, .notifCircle, .time{
    margin: 0px;
}

.chatName{
    position: relative;
    top: -8px;
    font-weight: bold;
    font-size: 17px;
}
.chatSum{
    position: relative;
    left: 44px;
    top: -20px;
    color: #5681a2;
    font-size: 13px;
}

.time{
    color: #b2b2b2;
    margin-top: 5px;
    float: right;
}

.notifCircle{
    border-radius: 50%;
    margin-top: 5px;
    padding-top: 2px;
    background-color: #bebebe;
    width: 17px;
    height: 17px;
    color: white;
    font-size: 10px;
    text-align: center;
    float: right;

}

.row{
    height: 50px;
    border-bottom: solid #ececec thin;
}

#picAndName{
    height: 50px;
    padding-top: 5px;
}

hr{
    margin: 0px;
    position: relative;
    top: -10px;
}

/*-------------------------------------------------------------------------------------*/

.wrapperClicked{
    background-color: #4e7492;
}






/*--------------------------------------------chatBoard-----------------------------------------*/

html, body{
    height: 100%;
    overflow: hidden;
}

#chatBoard{
    position: absolute;
    list-style-type: none;
    /*margin-top: 54px;*/
    /*margin-bottom: 44px;*/
    height: 75%;
    /*bottom: 60px;*/
    top: 44px;
    overflow-y: auto;
}


#chatBoard li{
    margin: 20px 5px 20px 5px;
    display: block;
    /*min-width: 100%;*/
}

#chatBoard div {
    min-width: 100%;
    width: 100%;
}

#chatBoard .message{
    background: #efefef;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 8px;
    max-width: 80%;
    display: inline-block;
}



 .receiver {
    float: right;
    margin-left: 10%;
    position: relative;

     display: table-cell;
     align-content: right;
     text-align: right;

 }

.receiver p{
    float: right;
}

.sender {
    position: relative;
    margin-right: 10%;
    float: left;
}

.sender > .time {
    position: absolute;
    margin-left: 10px;
    bottom: 12px;
    }

.receiver > .time {
    position: absolute;
    margin-left: -80px;
    bottom: 12px;
    display: inline-block;
}




