html, body{
    font-family: "Segoe UI",Arial,sans-serif;
    overflow-x: hidden;
}

.container-fluid{
    width: 100%;
    padding: 0;
}

#main , #mainChatPage{
    min-height:100%;
    height:100%;
    margin: 0 auto;
    position: relative;
    /*max-width: 1010px;*/
}


#navbarChatpage{
    margin-bottom: 0px;
    border: none;
    background-color: #5681a2;
    max-height: 30%;
    min-width:100%;
    position: absolute;

}

#topMenu{
    height:50px;
    color: white;
    align-content:center;
    padding-right: 0;
}

#telegramLogo{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-top: 13px;
}

#telegram{
    display: inline;
    margin-left: 15px;
    font-size: 20px;
    position: relative;
    top: 10px;
}

.glyphicon{
    color: white;
    font-size: 20px;
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 12px;
}

.menuWrapper{
    height: 50px;
    width: 50px;
    float: right;
}

.menuIcon{
    height: 50px;
    width: 50px;
    float: right;
    padding: 12px 0 0;
}

.menuLine{
    background-color: #fefeff;
    width: 21px;
    height: 2px;
    border-radius: 1px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    /*float: right;*/
}

#searchBar{
    border: solid 1px #dbdbdb;
    background: url("img/IconsetW_2x.png") no-repeat;
    background-size: 15px 15px;
    background-position-x: 5px;
    background-position-y: 50%;
    min-width: 100%;
    padding: 5px 20px 5px 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    border-radius: 3px;
    /*display: none;*/
    z-index: -1;

}

#cross{
    /*display: none;*/
    position: relative;
    z-index: 1000;
    float: right;
    left: -10px;
    margin-top: -26px;
    width: 13px;
    height: 13px;
    cursor: pointer;
    background: url("img/cross.png") no-repeat;
    background-size: 13px 13px;
}

.wrapperSearch{
    /*position: absolute;*/
    display: none;
}

#menu{
    float: right;
    position: absolute;
    border-radius: 0px;
    outline: solid 1px #f2f2f2;
    left: 70%;
    top: 0%;
    padding: 0px;
    z-index: 3;
    font-size: 14px;
    min-width: 215px;
}

#menu li{
    padding: 15px;
}

.dropdown-menu li:hover{
    background: #f2f2f2;
}

ul{
    list-style-type: none;
    padding-left: 0px;
}
#chatLists li:hover{
    background-color: #f2f2f2;
}

#listView{
    position: absolute;
    top: 44px;
}

.profPic{
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}

.chatName , .chatSum, .notifCircle, .time{
    margin: 0px;
}

.chatName{
    position: relative;
    top: -8px;
    font-weight: bold;
    font-size: 17px;
}
.chatSum{
    position: relative;
    left: 44px;
    top: -20px;
    color: #5681a2;
    font-size: 13px;
}

.time{
    color: #b2b2b2;
    margin-top: 5px;
    float: right;
}

.notifCircle{
    border-radius: 50%;
    margin-top: 5px;
    padding-top: 2px;
    background-color: #bebebe;
    width: 17px;
    height: 17px;
    color: white;
    font-size: 10px;
    text-align: center;
    float: right;
}

.row{
    height: 50px;
    border-bottom: solid #ececec thin;
}

#picAndName{
    height: 50px;
    padding-top: 5px;
}

hr{
    margin: 0px;
    position: relative;
    top: -10px;
}

/*-------------------------------------------------------------------------------------*/

.wrapperClicked{
    background-color: #4e7492;
}

/*----------------------------------------chat page-----------------------------------*/

.leftSide{
    min-width: 150px;
    float: left;
    position: relative;
    left: -15px;
    padding-left: 15px;
    height: 100%;
}

.leftSide:hover{
    background-color: #4e7492;
}

.leftSide:hover .lastSeen{
    color: white;
}

#back{
    width: 11px;
    height: 19px;
    margin-top: 12px;
    margin-left: -4px;
    margin-right: 2px;
    opacity: 0.8;
}

.username{
    font-weight: bold;
    font-size: 15px;
    width: 100%;
}

.lastSeen{
    display: block;
    position: relative;
    font-size: 12px;
    left: 14px;
    top: -8px;
    max-width: 100%;
    color: #b8cee1;
}

#mediaIcon{
    float: right;
    padding: 6px 14px 7px 14px;
}

.dot{
    background-color: #d7e5f0;
    width: 5px;
    height: 5px;
    border-radius: 3px;
    margin: 4px 6px;
    display: block;
}

#media{
    right: 10px;
    left: auto;
    width: 195px;
    border-radius: 0px;
    outline: solid 1px #f2f2f2;
    top: 50px;
    padding: 0px;
    z-index: 3;
    font-size: 14px;
    min-width: 200px;
    color: #000;
}

#media li{
    padding: 15px;
}

#editMessages{
    border-bottom: 1px solid #e3e3e3;
}

.chatPic{
    min-width: 33px;
    min-height: 33px;
    float: right;
    padding: 5px 5px 6px 5px;
}

#image2{
    width: 33px;
    height: 33px;
}








/*--------------------------------------------chatBoard-----------------------------------------*/

html, body{
    height: 100%;
    overflow: hidden;
}

#chatBoard{
    position: absolute;
    list-style-type: none;
    width: 100%;
    top : 44px;
    bottom: 55px;
    overflow-y: auto;
}


#chatBoard li{
    margin: 20px 5px 20px 5px;
    display: block;
    /*min-width: 100%;*/
}

#chatBoard div {
    min-width: 100%;
    width: 100%;
}

#chatBoard .message{
    background: #efefef;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 8px;
    max-width: 80%;
    display: inline-block;
    overflow-wrap: break-word;
}



 .receiver {
    float: right;
    margin-left: 10%;
    position: relative;

     display: table-cell;
     align-content: right;
     text-align: right;

 }

.receiver p{
    float: right;
}

.sender {
    position: relative;
    margin-right: 10%;
    float: left;
}

.sender > .time {
    position: absolute;
    margin-left: 10px;
    bottom: 12px;
    }

.receiver > .time {
    position: absolute;
    margin-left: -80px;
    bottom: 12px;
    display: inline-block;
}

.emoji {
    background: url('img/smiley.png') no-repeat;
    background-size: 28px 27px ;
    height: 27px;
    width: 28px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 0;
    /*position: absolute;*/
}

.bottomWrapper {
    height: 55px;
    position: absolute;
    bottom: 0;
}

input[name="typingBox"] {
    margin-top: 8px;
    width: 100%;
    height: 40px;
    position: absolute;
    padding: 8px;
    border: solid 2px #efefef;
    outline: none;
    border-radius: 3px;
}

.typeBox{
    background: #efefef;
    transition: 0.5s ease;
    min-width: 20px;
}

.selected {
    background: transparent;
    transition: 0.5s ease;
}

.attach {
    background: url('img/attach.png') no-repeat;
    background-size: 23px 26px ;
    height: 26px;
    width: 23px;
    margin-top: 12px;
    /*margin-left: 28px;*/
    right : 15px;
    float: right;
    /*margin-right: 0;*/
    /*position: absolute;*/
}
/*--------------------------------------desktop--------------------------------*/

.menuIconD{
    height: 50px;
    width: 50px;
    float: left;
    padding: 12px 0 0;
    position: relative;
}

.desktopMenuButton{
    min-width: 300px;
    min-height: 50px;
    padding-left: 15px;
    margin-left: -15px;
    float: left;
}

.chats{
    position: relative;
    top: 50px;
    padding-left: 10px;
    min-width: 100%;
    min-height: 100%;
    float: left;
}

.leftSideD{
    min-width: 300px;
    min-height: 100%;
    float: left;
    position: absolute;
    left: -10px;
    padding-left: 15px;
    border-right: 1px solid #e7e9eb;
}

#searchBarD{
    border: solid 1px #dbdbdb;
    background: url("img/IconsetW_2x.png") no-repeat;
    background-size: 15px 15px;
    background-position-x: 5px;
    background-position-y: 50%;
    min-width: 275px;
    padding: 5px 25px 5px 25px;
    margin: 10px 5px 5px 5px;
    outline: none;
    border-radius: 3px;
    z-index: -1;
}

.wrapperSearchD{
    position: absolute;

}

#chatListsD{
    position: absolute;
    top: 50px;
}

#chatListsD li:hover{
    background-color: #f0f4f8;
}

.rowList{
    margin-left: -12px;
    padding-left: 15px;
    padding-right: 10px;
    min-width: 280px;
    min-height: 60px;
    height: 60px;
    width: 270px;
}
.chatNameD{
    position: relative;
    top: -8px;
    font-weight: bold;
    font-size: 17px;
}
.chatSumD{
    position: relative;
    left: 44px;
    top: -20px;
    color: #5681a2;
    font-size: 13px;
}

.timeD{
    color: #b2b2b2;
    margin-top: 5px;
    float: right;
    position: relative;
    top: -45px;
}

.notifCircleD{
    border-radius: 50%;
    margin-top: 5px;
    padding-top: 2px;
    background-color: #bebebe;
    width: 17px;
    height: 17px;
    color: white;
    font-size: 10px;
    text-align: center;
    float: right;
    position: relative;
    top: -45px;
    left: 30px;
}








